PORT=4000
HOST=0.0.0.0
MONGODB_URI=mongodb+srv://weerashinghatheshan_db_user:IksemL6rIzGqfRuK@cluster0.23mhwzb.mongodb.net/
MONGODB_DB=transitlk
CORS_ORIGINS=http://localhost:8081,http://127.0.0.1:8081
